name: CI/CD - PRB

on:
  push:
    branches:
      - develop

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest
    environment: prb

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore

   #   - name: Test
   #     run: dotnet test --no-build

      - name: Build Docker
        run: docker build -t myapp-prb .

      - name: Deploy PRB
        run: echo "Deploy a ambiente PRB"
